<!--Jan2025-->

<!-- SmartCat script-->
<script id='sc-script' src="https://cdn.smartcat-proxy.com/168fc4fe410c474eb1f6043205ededea/script-v1/__translator.js?hash=6a6a63c258c09df66a084cf91cd87ede"></script>
<!-- End SmartCat script -->

<!-- OneTrust Cookies Consent Notice start for actian-software.com -->
<!--
<script src="https://cdn.cookielaw.org/scripttemplates/otSDKStub.js"  type="text/javascript" charset="UTF-8" data-domain-script="c65f43b5-068e-4e4b-80d3-bdc8c41cf93d" ></script>
<script type="text/javascript">
function OptanonWrapper() { }
</script>
-->
<!-- OneTrust Cookies Consent Notice end for actian-software.com -->

<!--  Global site tag (gtag.js) - Google Analytics start -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-NHC5CN295F"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-NHC5CN295F');
</script>
 
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TBMJHFGQ');</script>
  <!-- End Google Tag Manager -->
  
<!--  Global site tag (gtag.js) - Google Analytics end -->

<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>